name: Pull Request Workflow

on:
  pull_request:
    branches:
      - 'master'

jobs:
  pull-request:
    name: Pull Request Workflow Job
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Ccloud Schema Action Master
        uses: actions/checkout@v1
        with:
          ref: master

      - name: Prepare Git Operations
        run: |
          git config --global user.name Github Action
          git config --global user.email octocat@github.com

      - name: Merge branch ${{ github.head_ref }}
        run: git merge origin/${{ github.head_ref }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Maven Unit Tests
        working-directory: ./docker-actions/
        run: ./mvnw -B test jacoco:report coveralls:report -Dcoveralls.token=${{ secrets.COVERALLS_TOKEN }}

      - name: Maven It Tests
        working-directory: ./docker-actions/
        run: ./mvnw -B integration-test -Dit.only
